<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ SITEDESC }}">
		<meta name="author" content="{{ AUTHOR }}">
		<title>{{@blog.title}}</title>
		<link href="{{asset "/css/normalize.css"}}" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{asset "css/style.css"}}" rel="stylesheet">
		<link href="{{asset "css/prism.css"}}" rel="stylesheet">
		<!-- Google Analytics Code -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-58775424-1', 'auto');
		ga('send', 'pageview');

		</script>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<div class="container">
			<section class="sidebar">
				<h1><a href="{{ @blog.url }}">{{@blog.title}}</a></h1>
				<div id="round-pic"></div>
				<h2>Front End Developer</h2>
				
				{{navigation}}
				
				<ul class="socials">
					<li><a href="mailto:hello@willacton.com" target=_blank><i class="fa fa-envelope fa-2x"></i></a></li>
					<li><a href="http://github.com/Lokeh/" target=_blank><i class="fa fa-github fa-2x"></i></a></li>
					<li><a href="https://www.linkedin.com/pub/will-acton/5b/375/66b" target=_blank><i class="fa fa-linkedin fa-2x"></i></a></li>
				</ul>

			</section>
			<section class="main">
				<div class="content">
					{{{body}}}
				</div>
				<div class="footer">
					Copyright Will Acton.
				</div>
			</section>
		</div>

		{{ghost_foot}}
		<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
	</body>
</html>