{{!< default}}

<h1>Recent Posts</h1>
{{#foreach posts}}
	<article class="{{post_class}}">
		<header><h2><a href="{{url}}">{{title}}</a> <span class="date">{{date format="DD MMMM YYYY"}}</span></h2></header>
		<p>{{ excerpt words="26" }}... [<a href="{{url}}">Read More</a>]</p>
	</article>
{{/foreach}}