{{!< default}}

{{#post}}
<article class="{{post_class}}">
	<header><h1>{{ title }} <span class="date">by {{author.name}} / {{ date format="DD MMMM YYYY" }}</span></h1></header>
	<p>{{ content }}</p>
</article>
{{/post}}